version: '2'

services:
  web:
    image: javferrod/node-develop:lastest
    volumes:
     - ".:/app"
    ports:
     - "443:443"
     - "80:80"
    links:
     - mongo

  mongo:
    image: mongo
    ports:
     - "27017:27017"
    volumes_from:
     - mongodata

  mongodata:
    image: tianon/true
    volumes:
     - /data/db
